###################################################################################################################
###################################################################################################################

#	Rules are saved in './rules.config' and persist between games and sessions.                                     
# If you edit the rules within the program, your changes will be saved here.                                      
# Alternatively, you can simply make your changes here.                                                           
# This file is loaded at runtime and can be reloaded from within StatJack via the "rules" Menu.                   
#	                                                                                                                
#                                                                                                                 
# For each line, anything to the right of a # will be ignored as a comment.        													      
#	Blank lines will also be ignored.  Rules can be listed in any order.																			      
# Rules are expected to be in the following format:                                                               
# rule_name = value                                                                                               
#                                                                                                                 
# Any rule that is not explicitly declared in this file will revert to the default(s) below                       
# 	(these defaults are based on standards generally found at casinos in Las Vegas)  												      
#                                                                                                                 
#   insurance = false                 # options: true, false                                                      
#   surrender = false                 # options: true, false                                                      
#   payout_ratio = 3/2                # options: any positive ratio                                               
#   number_of_decks = 5               # options: any positive integer between 1 and 1000                          
#   hands_between_shuffles = 10       # options: any positive integer (if the shoe has < 25 cards between hands   
#                                                                      it will automatically re-shuffle)          
#   house_hits_soft_17 = false        # options: true, false                                                      
#   minimum_bet = 10                  # options: any positive integer                                             
#   bet_denomination = 5              # options: any positive integer                                             
#   player_starting_funds = 1000000   # options: any positive integer                                             
#   house_starting_funds = 1000000    # options: any positive integer                                             
#                                                                                                                 

###################################################################################################################
###################################################################################################################


insurance = true
surrender = true
payout_ratio = 3/2
number_of_decks = 5
hands_between_shuffles = 10
house_hits_soft_17 = true
minimum_bet = 10
bet_denomination = 5
player_starting_funds = 1000000
house_starting_funds = 1000000